PORT=3000
# Credenciales Base de datos (POSTGRES)
BD_HOST=localhost
BD_PORT=5433
BD_NAME=constructor_chatbot
BD_USER=postgres
BD_PASSWORD=postgresql

# Credenciales Base de datos (MYSQL)
# BD_HOST=localhost
# BD_PORT=3306
# BD_NAME=constructor_chatbot
# BD_USER=root
# BD_PASSWORD=

# WHATSAPP_PROVIDER="evolution"
WHATSAPP_PROVIDER="cloud"

WHASTAPP_PHONE_NUMBER_ID=
WHASTAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=Mi.Codigo0SECRETO
